{% extends 'awwards/base.html' %}
{% block content %}
<div class="card border position-absolute top-50 start-50 translate-middle" style="width:20rem;">
  <form class="my-3 mx-3" method="POST" action="">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <!-- <div class="row mb-4"> -->

    <!-- First name input -->
    <div class="col mb-4">
      <div class="form-outline">
        <input type="text" id="form3Example1" name="first_name" class="form-control" />
        <label class="form-label" for="form3Example1">First name</label>
      </div>
    </div>

    <!-- Last name input -->
    <div class="col mb-4">
      <div class="form-outline">
        <input type="text" id="form3Example2" name="last_name" class="form-control" />
        <label class="form-label" for="form3Example2">Last name</label>
      </div>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" id="form3Example3" name="email"  class="form-control" />
      <label class="form-label" for="form3Example3">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form3Example4" name="password"  class="form-control" />
      <label class="form-label text-black" for="form3Example4">Password</label>
    </div>

    <!-- con_password input -->
    <div class="form-outline mb-4">
      <input type="password" id="form3Example4" name="confirm_password"  class="form-control" />
      <label class="form-label text-black" for="form3Example4">Confirm password</label>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-2">Sign up</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p class="text-black">or sign up with:</p>
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>

      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>

      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>

      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>
  </form>
</div>
{% endblock %}