{% extends 'awwards/base.html' %}
{% block content %}
<div class="bg-image see" style="cursor:pointer;">
   <a href=""> <img
      src="https://mdbootstrap.com/img/new/standard/city/053.jpg"
      class="img-fluid" style="width:100%; height:77vh; cursor:pointer;"
      alt="Sample"
    /></a>
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.2);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <p class="text-white mb-0">Can you see me?</p>
      </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="card">
                <img
                src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                class="card-img-top" style="height:25vh;"
                alt="..."
                />
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img
                src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                class="card-img-top" style="height:25vh;"
                alt="..."
                />
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img
                src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                class="card-img-top" style="height:25vh;"
                alt="..."
                />
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img
                src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                class="card-img-top" style="height:25vh;"
                alt="..."
                />
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the
                    card's content.
                </p>
                <a href="#!" class="btn btn-primary">Button</a>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}